<div class="container">
	<h3>Add new post</h3>

	<%= form_for @post do |f| %>
		<%= render(:partial => 'form', :locals => {:f => f})%>
		
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-10"><%= f.submit 'Create new post', :class => 'btn btn-block btn-info' %></div>
			</div>
		
	<%end%>
</div>
<br>